/*=== Estilos Globais ===*/

body {
    font-family: 'Open Sans', sans-serif; 
    background: $color-bg url(#{$url-img}/background.jpg) no-repeat top center;
}

.container-main{
    min-height: 500px;
}


//custom container
@media (min-width: $screen-lg-min){
    .container{
        width: 1024px;
    }
}
@media (max-width: $screen-md-min){
    .container-full{
        width: 100%;
        background-color: $color-white;
        max-height: 65px;
    }
}

// Mixin itself
.clearfix{
    display: block;
    content: "";
    clear: both;
}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}

/*=== FIM Estilos globais ===*/