/* estilos página de atuação */
.main-atuacao{
    background-color: $color-white;
    padding-top: 20px;
    
    @media (min-width: $screen-md-min){
        .col-lg-6:first-child{
            padding-right: 40px;
        }
        .col-lg-6:last-child{
            padding-left: 40px;
        }
    }
}
