/*=== Estilos Globais ===*/

body {
    font-family: 'Open Sans', sans-serif; 
    background: $color-bg url(#{$url-img}/background.jpg) no-repeat top center;
}

//ajueste menu mobile
#navbarNavDropdown{
    z-index: 99;
}

//title defautl
h2.custom_amag{
    font-size: 24px;
    text-transform: uppercase;
    
    &:after{
        content: '';
        border-top: solid 3px $color-green;
        width: 110px;
        display: block;
    }
}



//custom container
.container-main{
    min-height: 500px;
}
@media (min-width: $screen-lg-min){
    .container{
        width: 1024px;
    }
}
@media (max-width: $screen-md-min){
    .container-full{
        width: 100%;
        background-color: $color-white;
        max-height: 65px;
    }
}

// Mixin itself
.clearfix{
    display: block;
    content: "";
    clear: both;
}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}

/*=== FIM Estilos globais ===*/